
html, body{
  height: 100%;
}
@media only screen and (min-width: 1057px){
  body{
    padding-top: 100px;
  }
}
@media only screen and (max-width: 1058px){
  body{
    padding-top: 131px;
  }
}
@media only screen and (max-width: 692px){
  body{
    padding-top: 61px;
  }
  .carousel-photo{
    height:calc(100vh - 50px) !important;
  }
}

.landing-page-carousel .carousel{
  overflow: hidden;
}
.landing-page-carousel .carousel-photo{
  height:calc(100vh - 101px);
  width:100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.landing-page-carousel .carousel-control.right{
  right: -7% !important;
}
.landing-page-carousel .carousel-control.left{
  left: -7% !important;
}
.glyphicon{
  height: 43px !important;
  width: 40px !important;
  background-color: #2d2d2d;
}
.background-white{
	background-color: white !important;
}
.padding-adjustment{
	padding-right: 53px !important;
  padding-top: 20px;
  margin-bottom: 20px;
}
.logo-part{
  position:relative;
  top:32px;
  left:55px;
  font-size: 20px !important;
  font-weight: bold;
  margin-right: 85px;
}
.header{
  margin:auto;
  }
.header a{
	color: black;
	padding:1px;
}
.header li{
	padding: 0px;
	font-size: 10px;
}
.dropbtn{
	display: flex;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -11px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
	color: black;
    font-weight: bold;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.information{
	/* width: 60%; */
	padding-top: 78px;
  padding-bottom: 52px;
	text-align: center;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 28px;
  color: #252424;
}
.article img{
	margin-top: 27px;
	margin-bottom: 27px;
	width: 100%;
}
.article span{
	line-height:24px;
	font-size:15px;
}
.read-more{
	border: 2px solid #6b6b6b;
	border-radius: 6px;
	width: 144px;
	font-size: 12px;
  margin-top: 10px;
  color: black;
  line-height:43px;
  text-align: center;
}
.read-more a{
  text-decoration: none;
  color: black;
}
.read-more a:hover{
  color: red;
  text-decoration: none;
}

.social{
	text-align: center;
	padding:20px;
}
.social svg{
	margin-left: 10px;
}
.footer{
	position: relative;
	display: flex;
}
.footer-logo{
	position: absolute;
	right:-35px;
}
@media only screen and (max-width: 768px){
  .footer{
    display: inherit;
    text-align: center;
  }
  .footer-logo{
    position: relative;
  }
  .carousel .item{
    min-height: 180px; /* Prevent carousel from being distorted if for some reason image doesn't load */
  }
  .read-more{
    width: 99px;
    height: 37px;
    font-size: 9px;
    margin-top: 4px;
    line-height: 4;
  }
}
@media only screen and  (max-width: 917px){
  .information {
      padding-top: 40px;
  }
}

@media only screen and (max-width: 767px){
  .information{
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 12px;
  }
  .article span{
    line-height:3px !important;
    font-size:8px !important;
  }
  .logo-part{
    position:relative;
    top:12px;
    left:10px;
  }
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


.affix{
  top:0;
  width: 100%;
  z-index: 9999 !important;
}

.navbar-size-change{
  margin-top: 10px !important;
}

.thumbnail-padding-change{
  padding-right: 50px !important;
  padding-left: 50px !important;
}